:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-third) !important;

}

.pillars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-pillars-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
}

.img-pillars-item {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.img-pillars {
  position: relative;
  flex: 1;
  height: 100%;
}

