<section class="container">
    <div class="d-flex pillars p-3">
        <h1 class="title"><strong>Pilares</strong> para seu negócio</h1>
    </div>
    <div class="img-pillars-container">
        <div class="img-pillars-item">
            <div class="img-pillars">
                <img ngSrc="/assets/img/userexperience.png" fill placeholder />
            </div>
            <h3>Teste</h3>
        </div>

        <div class="img-pillars-item">
            <div class="img-pillars">
                <img ngSrc="/assets/img/userexperience.png" fill placeholder />
            </div>
            <h3>Teste</h3>
        </div>

        <div class="img-pillars-item">
            <div class="img-pillars">
                <img ngSrc="/assets/img/userexperience.png" fill placeholder />
            </div>
            <h3>Teste</h3>
        </div>
    </div>
</section>
