<main class="container h-100">
    <div class="row h-100 align-content-center flex-column flex-sm-row row-gap-2">
        <div class="col-sm-6 col-md-8 col-lg-8 center main-text">
            <h1 class="d-flex flex-column main-title">
                Transforme sua <span>ideia em site.</span>
            </h1>
            <app-mainbutton
                class="mt-3"
                >Saiba mais</app-mainbutton>
        </div>
        <div
            class="col-sm-6 col-md-4 col-lg-4 center photo-container"
            style="position: relative">
            <div class="circle"></div>
            <img class="foto" src="/assets/img/celular.png" alt="Foto de um celular" />
        </div>
    </div>
</main>
