:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-third) !important;
  font-size: 1.5em;
  background-image: url('/assets/img/background/image-16-9.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.brand {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-weight: bolder;
  font-size: calc(var(--font-base) * 1.5);
  color: white;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

section > a {
  text-decoration: none !important;
}

section > div {
  margin-top: 20px;
}

section > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
  gap: 30px;
}

@media (max-width: 600px) {
  :host {
    background-image: url('/assets/img/background/image-9-16.svg');
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  :host {
    background-image: url('/assets/img/background/image-4-3.svg');
  }
}