@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --btn-green: #009963;
    --background-primary: #1E1E1E;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-size: .875rem;
    background-color: var(--background-primary) !important;
}