@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "./customboostrap.scss";

:root {
    --green: #17d492;
    --background-primary: #1e1e1e;
    --background-secondary: #1a1a1a;
    --background-third: #101728;
    --font-base: 1em;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-size: 0.875rem;
    overflow-x: hidden;
    color: white !important;
    scroll-behavior: smooth;
    font-size: var(--font-base);
}

strong {
    color: var(--green);
}

a:hover {
    opacity: 0.9;
}

.bold {
    font-weight: bold;
    color: var(--green);
}

.title {
    font-weight: bolder;
    max-width: 900px;
}

@media (max-width: 576px) {
    .title {
        font-size: calc(var(--font-base) * 2);
        text-align: center;
    }
}

@media (min-width: 576px) {
    .title {
        font-size: calc(var(--font-base) * 2);
    }
}

@media (min-width: 768px) {
    .title {
        font-size: calc(var(--font-base) * 3);
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: calc(var(--font-base) * 3.5)
    }
}

@media (min-width: 1400px) {
    .title {
        font-size: calc(var(--font-base) * 4)
    }
}
