<app-menu />
<main class="container">
    <div class="row pt-5">
        <div class="col-sm-12 col-md-6">
            <h1 style="font-size: 48px; font-weight: bolder">Cria Web</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                est dicta mollitia, earum porro voluptas similique quidem quis
                corporis commodi id quos atque delectus sit impedit suscipit aliquid
                error officia.
            </p>
            <app-button [customStyle]="{ minWidth: '100%'}"
                >Entre em contato</app-button>
        </div>
        <div class="col-sm-12 col-md-6">
        
        </div>
    </div>
</main>
