nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0.75rem 2.5rem;
    border-bottom: solid 1px rgba(244, 239, 230, 0.082)
}

.brand {
    white-space: nowrap;
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.list-icon {
    display: none;
}

.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--background-secondary);
}

.offcanvas-body {
    background-color: var(--background-secondary);
}

.offcanvas-close-icon {
    font-size: 1.5em;
    color: white;
}

@media (max-width: 576px) {
    .list {
        display: none !important;
    }
    .list-icon {
        display: flex;
        font-size: 2em;
        cursor: pointer;
    }
}