:host {
    display: block;
    background-color: var(--background-third) !important;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.brand {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-weight: bolder;
    font-size: 18px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.list-icon {
    display: none;
}

.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--background-third);
}

.offcanvas-body {
    background-color: var(--background-third);
}

.offcanvas-close-icon {
    font-size: 1.5em;
    color: white;
}

@media (max-width: 576px) {
    .list {
        display: none !important;
    }
    .list-icon {
        display: flex;
        font-size: 2em;
        cursor: pointer;
    }
}